@page "{orderId:Guid}"
@model SimpleShop.Web.Pages.Cart.SummaryModel
@{
    ViewData["Title"] = $"Zamówienie #{Model.Order.Number}";
}

<div class="container has-text-centered">
    <div class="block">
            <span class="icon is-large">
                <i class='bx bx-receipt bx-lg'></i>
            </span>
        </div>
        <div>
            <p class="title has-text-weight-medium">Dziękujemy, @Model.Order.Details.FirstName!</p>
            <p class="subtitle">Zamówienie #@Model.Order.Number zostało złożone.</p>
            <a class="button is-outlined" asp-area="" asp-page="/Orders/Index">Moje zamówienia</a>
        </div>
</div>
