@model decimal

<article class="media is-flex is-justify-content-space-between">
    <div class="media-left">
        <p class="mb-2">Shipping:</p>
        <p class="has-text-weight-medium">Total:</p>
    </div>
    <div class="media-right">
        <p class="has-text-success mb-2">FREE</p>
        <p class="has-text-weight-medium">$@Model</p>
    </div>
</article>